html
    head
        title Current poll
    body
        h1 Current poll
        h3 Charts HERE
        div(id="chartContainer" style="height: 300px; width 100%")
            
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
        script(src="/public/socket.io.js")
        script(src="/public/main.js")
        
